@import '../../styles/color.scss';

.button-wrapper {
    margin: 5px;
    width: fit-content;

    &.border {
        border: white 1px solid;
        padding: 2px;

        &.round{
            border-radius: 5px;
        }
    }
    
    .button{
        width: fit-content;
        padding: 7px 10px;
        
        font-weight: bold;
        cursor: pointer;
        background-color: $primaryColor;
        color: white;

        &.disabled{
            cursor: not-allowed;
        }
    
        &.solid{
            background-color: $primaryColor;
            color: white;
        }
    
        &.ghost{
            background-color: white;
            color: $primaryColor;
            border: 1px solid $primaryColor;
    
            &:hover{
                background-color: $primaryColor;
                color: white;
            }
        }
        &.gradient{
            background-image:conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            border-color:whitesmoke;
            transition: all 150ms ease-in-out;
            
  
            &:hover {
                box-shadow: 0 0 10px 0 whitesmoke inset, 0 0 10px 4px whitesmoke;
            }
        }

        
        &.animation{
            border: none;
            
                      a{
                          color: #03e9f4;
                          text-decoration: none;
                          text-transform: uppercase;
                          transition: 0.5s;
                          overflow: hidden;
                       
                        
                        
                            .one{
                                top: 0;
                                left: 0;
                                height: 2px;
                                background: linear-gradient(90deg,transparent,#03e9f4);
                                animation: animate1 1s linear infinite;
                                @keyframes animate1{
                                    0%{
                                        left: -100%;
                                    }
                                    50%,100%{
                                        left: 100%;
                                    }
                                }
                            }
                            .two{
                                top: -100%;
                                right: 0;
                                width: 2px;
                                height: 100%;
                                background: linear-gradient(180deg,transparent,#03e9f4);
                                animation: animate2 1s linear infinite;
                                animation-delay: 0.25s;
                                @keyframes animate2{
                                    0%{
                                        top: -100%;
                                    }
                                    50%,100%{
                                        top: 100%;
                                    }
                                }
                            
                            }
                            .three{
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                height: 2px;
                                background: linear-gradient(270deg,transparent,#03e9f4);
                                animation: animate3 1s linear infinite; 
                                animation-delay: 0.50s;
                                @keyframes animate3{
                                    0%{
                                        right: -100%;
                                    }
                                    50%,100%{
                                        right: 100%;
                                    }
                                }
                            }
                            .four{
                                bottom: -100%;
                                left: 0;
                                width: 2px;
                                height: 100%;
                                background: linear-gradient(360deg,transparent,#03e9f4);
                                animation: animate4 1s linear infinite;
                                animation-delay: 0.75s;
                                @keyframes animate4{
                                    0%{
                                        bottom: -100%;
                                    }
                                    50%,100%{
                                        bottom: 100%;
                                    }
                                }
                            }
                                
                        }
           
                    }
                        

                    &.sharp{
                        border-radius: 0px;
                    }
                
                    &.round{
                        border-radius: 5px;
                    }
                
                    &.warning{
                        color: $warningColor;
                        border: 1px solid $warningColor;
                        background-color: white;
                    }
                }
            }

            
       
        
        
                            
            
            
            
            

    
    