

.popup-wrapper{

    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    cursor: pointer;

    &.bottom-center{
        bottom: 20px;
    }

    &.bottom-right{
        justify-content: flex-end;
        right: 20px;
    }

    &.top-center{
        top: 20px;
    }

    &.top-right{
        top: 20px;
        right: 20px;
        justify-content: flex-end;
    }

    .message-popup-container{
        display: flex;
        background-color: white;
        padding: 15px 20px;
        width: fit-content;
        color: black;
        border-radius: 5px;

        &.warning{
            color: red;
            border: 1px solid red;
        }

        &.success{
            color: green;
            border: 1px solid green;
        }
    }
}